body {
  position: relative;
  font-size: 16px;
  line-height: 1.3;
  word-spacing: 1px;
  font-weight: 400;
  white-space: normal;
  font-family: "Montserrat", sans-serif;
  color: #4a4a4a;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
#headerTopBox {
  /* border: 1px solid red; */
  min-width: 1140px;
  /* overflow: hidden; */
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 60px;
  position: relative;
  margin: 0px 12px;
}
#headerTopBoxlogo {
  width: 90px;

  height: 100%;
  margin-right: 24px;
  color: #f23e36;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 22px;
  cursor: pointer;
  margin-left: -20px;
}
#headerTopBoxlogo > img {
  width: 100%;
  height: 100%;
}

#courseList {
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding: 0 12px;
  font-weight: 700;
  margin-top: 15px;
  max-width: 90px;

  height: 30px;
  font-size: 13px;
  letter-spacing: 0.5px;
  cursor: pointer;

  background: #f23e36;
  border: 1px solid #f23e36;
  border-radius: 4px;
  transition: all -0.8s ease-in-out;
  /* transition: transform 1s ease-in-out; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#courseList > div:nth-child(1),
#courseList > div:nth-child(1) span {
  display: flex;
  align-items: center;
  justify-content: center;
}
#courseList > div:nth-child(1) span {
  margin-top: -15px;
}
.material-icons {
  transition: all 0.25s ease-in-out;
}
#courseList:hover {
  color: #f23e36;
  background-color: #fff;
}

#courseList:hover > div:nth-child(1) .material-icons,
#navBarList li:hover .material-icons {
  transform: rotate(180deg);
}
#courseList > div > span,
#navBarList span {
  position: relative;
  top: 8px;
}
#headerTopBoxNavbar {
  display: flex;
  flex-direction: row;
}
#subList {
  position: absolute;
  top: 47px;
  left: 200px;
  padding: 4px 0;
  min-height: 200px;
  min-width: 290px;
  display: none;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #fff;
  z-index: 5;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 27%);
}
#courseList:hover #subList {
  display: inline;
}
#subList > ul {
  padding: 0px;
}
.subListItem {
  padding: 0px 15px;
  display: flex;
  height: 50px;
  font-weight: 500;
  font-size: 15px;
  color: #222;
  margin-left: 0px;
  text-align: left;
  align-items: center;
  white-space: pre;
  justify-content: space-between;
}
.subListItem > p {
  font-weight: 500;
  font-size: 15px;
}
.subListItem > span {
  margin-top: 2px;
  color: gray;
}
.subListItem:hover {
  background-color: #f9f9f9;
  border-left: 6px solid #ef403d;
  border-radius: 4px;
}
.subListItem > .innerListDiv {
  display: none;
  white-space: normal;
  box-sizing: border-box;
  padding: 4px 0px;
  left: 100%;
  top: 0;
  margin: 0;
  position: absolute;
  z-index: -1;
  overflow: auto;
  cursor: default;
  height: 734px;
  width: 380px;
  background: #fff;
  z-index: 5;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 27%);
}

.subListItem:hover > .innerListDiv {
  display: inline;
}
.subListItem > .innerListDiv > ul {
  padding: 0px;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-left: -50px;
  margin-top: 15px;
}
.subListItem > .innerListDiv .innerList {
  display: flex;
  height: 155px;
  border: 1px solid black;
  border-radius: 10px;
  width: 332px;
  margin-left: 68px;
  margin-bottom: 15px;
  flex-direction: row;
  cursor: pointer;
  box-sizing: border-box;
  padding: 12px;
}
.subListItem > .innerListDiv .innerList:hover {
  border: 1px solid #ef403d;
}
.subListItem > .innerListDiv .innerList:hover > span {
  color: #ef403d;
  opacity: 0.9;
}
.innerList > .innerListIcon {
  position: absolute;
  left: 12px;
  transform: scale(0.65);
  /* border: 1px solid red; */
  width: 79px;
  height: 80px;
  overflow: hidden;
  background-image: url(https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites/prod/global-configs/1622222636786/sprite-global-configs.png);
  margin: 5px 0px;
}
.innerList > .innerListBox {
  /* font-size: 12px;
        font-weight: 600;
        line-height: 2;
        color: #37474f;
        white-space: normal; */
  box-sizing: border-box;
  /* border: 1px solid red; */
  width: 230px;
  margin-left: 60px;
  position: absolute;
  height: 135px;
}
.innerListBox > div:nth-child(1) {
  font-weight: 700;
  font-size: 15px;
  color: #222;
  text-align: left;
  line-height: 1.5;
  letter-spacing: -0.5px;
}
.innerListBox > div:nth-child(2) {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.7;
  color: #37474f;
  text-align: left;
  margin-top: 5px;
}
.innerListBox > div:nth-child(3) {
  font-size: 9px;
  color: #546e7a;
  font-weight: 500;
  margin-top: 5px;
}
.new {
  width: 30px;
  height: 13px;
  background: #f23e36;
  color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 8px;
  border-radius: 2px;
  margin-top: 6px;
}
.trending {
  width: 50px;
  height: 13px;
  background: #ffd900;
  color: #f23e36;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 8px;
  border-radius: 2px;
  margin-top: 6px;
}
.jobguaranty {
  width: 100px;
  height: 13px;
  background: #2196f3;
  color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 8px;
  border-radius: 2px;
  margin-top: 6px;
}

.innerList > .innerListArrow {
  margin-top: 52px;
  margin-left: 295px;
  font-size: 20px;
  color: gray;
  opacity: 0.6;
}
#innerList1Icon1 {
  background-position: -80px -261px;
}
#innerList1Icon2 {
  background-position: -80px -341px;
}
#innerList1Icon3 {
  background-position: 0 -261px;
}
#innerList1Icon4 {
  background-position: 0 -100px;
}
#innerList1Icon5 {
  background-position: -240px -261px;
}
#innerList1Icon6 {
  background-position: -160px -341px;
}
#innerList1Icon7 {
  background-position: -400px -341px;
}
#innerList1Icon8 {
  background-position: -161px -100px;
}
#innerList1Icon9 {
  background-position: 0 -181px;
}
#innerList1Icon10 {
  background-position: -80px -341px;
}
#innerList1Icon11 {
  background-position: -161px -100px;
}
#innerList2Icon1 {
  background-position: -80px -181px;
}
#innerList2Icon2 {
  background-position: -160px -181px;
}
#innerList2Icon3 {
  background-position: -240px -181px;
}
#innerList2Icon4 {
  background-position: -80px -181px;
}
#innerList2Icon5 {
  background-position: -80px -181px;
}
#innerList2Icon6 {
  background-position: -322px 0;
}
#innerList3Icon1 {
  background-position: -322px -80px;
}
#innerList3Icon2 {
  background-position: -322px -160px;
}
#innerList3Icon3 {
  background-position: -80px -100px;
}
#innerList4Icon1 {
  background-position: -80px -181px;
}
#innerList4Icon2 {
  background-position: 0 0;
}
#innerList4Icon3 {
  background-position: -160px -261px;
}
#innerList4Icon4 {
  background-position: -80px 0;
}
#innerList4Icon5 {
  background-position: -320px -261px;
}
#innerList4Icon6 {
  background-position: -80px -181px;
}
#innerList4Icon7 {
  background-position: -80px -181px;
}
#innerList5Icon1 {
  background-position: -562px 0;
}
#innerList5Icon2 {
  background-position: -562px 0;
}
#innerList6Icon1 {
  background-position: -160px -261px;
}
#innerList6Icon2 {
  background-position: -160px -261px;
}
#innerList6Icon3 {
  background-position: -402px -80px;
}
#innerList6Icon4 {
  background-position: -402px -80px;
}
#innerList6Icon5 {
  background-position: -322px -80px;
}
#innerList6Icon6 {
  background-position: -402px -160px;
}
#innerList6Icon7 {
  background-position: -240px -181px;
}
#innerList6Icon8 {
  background-position: -402px -240px;
}
#innerList6Icon9 {
  background-position: -402px -240px;
}
#innerList6Icon10 {
  background-position: 0 -341px;
}
#innerList6Icon11 {
  background-position: 0 -341px;
}
#innerList7Icon1 {
  background-position: -160px -181px;
}
#innerList7Icon2 {
  background-position: -80px -100px;
}
#innerList7Icon3 {
  background-position: -240px -261px;
}
#innerList7Icon4 {
  background-position: -80px -181px;
}
#innerList7Icon5 {
  background-position: -80px -181px;
}
#innerList7Icon6 {
  background-position: -80px -181px;
}
#innerList7Icon7 {
  background-position: -80px -181px;
}
#innerList7Icon8 {
  background-position: -80px -181px;
}
#innerList7Icon9 {
  background-position: -80px -181px;
}
#innerList7Icon10 {
  background-position: -80px -181px;
}
#innerList7Icon11 {
  background-position: -80px -181px;
}
#innerList7Icon12 {
  background-position: -80px -181px;
}
#innerList7Icon13 {
  background-position: -322px 0;
}
#innerList8Icon1 {
  background-position: -160px -181px;
}
#innerList8Icon2 {
  background-position: -80px -181px;
}
#innerList8Icon3 {
  background-position: -80px -181px;
}
#innerList9Icon1 {
  background-position: -241px -80px;
}
#innerList9Icon2 {
  background-position: -241px -80px;
}
#innerList9Icon3 {
  background-position: -322px 0;
}
#innerList9Icon4 {
  background-position: -322px 0;
}
#innerList10Icon1 {
  background-position: -241px 0;
}
#innerList10Icon2 {
  background-position: -80px -100px;
}
#innerList10Icon3 {
  background-position: -240px -341px;
}
#innerList10Icon4 {
  background-position: -320px -341px;
}
#innerList11Icon1 {
  background-position: -160px 0;
}
#innerList12Icon1 {
  background-position: -322px -80px;
}
#innerList13Icon1 {
  background-position: -482px 0;
}
#innerList13Icon2 {
  background-position: -482px 0;
}
#innerList13Icon3 {
  background-position: -482px -80px;
}
#innerList13Icon4 {
  background-position: -482px -160px;
}
#innerList13Icon5 {
  background-position: -482px -160px;
}
#innerList13Icon6 {
  background-position: -482px -240px;
}
#innerList13Icon7 {
  background-position: -482px -320px;
}
#innerList13Icon8 {
  background-position: 0 -421px;
}
#innerList13Icon9 {
  background-position: -482px -80px;
}
#innerList14Icon1 {
  background-position: -80px -421px;
}
#innerList14Icon2 {
  background-position: -322px 0;
}
#innerList14Icon3 {
  background-position: -160px -421px;
}
#innerList14Icon4 {
  background-position: -322px 0;
}
#innerList14Icon5 {
  background-position: -80px -421px;
}

#navBarList {
  position: relative;
  left: 220px;
  /* border: 1px solid red; */
  width: 755px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#navBarList > ul {
  padding: 0px;
  margin-top: 23px;
  display: inline;
}
#navBarList > ul > li {
  display: inline-block;
  margin-right: 25px;
  font-size: 12px;
  font-weight: 700;
  color: #535b62;
  letter-spacing: 0.5px;
  cursor: pointer;
  line-height: 65px;
  transition: color 0.2s ease-in-out;
  letter-spacing: 0px;
}
#navBarList span {
  color: gray;
}
#navBarList > ul li:hover,
#navBarList > ul li:hover span {
  color: #f23e36;
}
#navBarList > ul > li:nth-child(1) > div {
  position: absolute;
  top: 60px;
  left: 0px;
  padding: 4px 0;
  min-height: 140px;
  min-width: 240px;
  display: none;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #fff;
  z-index: 5;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 27%);
}
#navBarList > ul > li:nth-child(1):hover > div {
  display: flex;
}
#navBarList > ul > li > div > ul {
  display: block;
  margin: 0px;
  padding: 12px;
  line-height: 40px;
}
#navBarList > ul > li > div > ul > li {
  display: block;
  font-size: 12px;
  color: #5a5a5a;
  font-weight: 500;
}
#startLearning {
  position: relative;
  right: -11px;
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
  width: 140px;
  padding: 0;
  margin: 0;
  font-size: 13px;
  justify-content: center;
}
#startLearning > :nth-child(1) {
  background: linear-gradient(270deg, #ff5757 0, #d02035 100%);
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#startLearning > :nth-child(1):hover {
  box-shadow: 2px 4px 8px 0 rgb(46 61 73 / 20%);
}
#popup {
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 10;
  align-items: center;
  justify-content: center;
}
#popupItem {
  background: #fff;
  position: absolute;
  width: 770px;
  height: 415px;
  left: 300px;
  top: 80px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
#popupItem > div:nth-child(1) {
  width: 216px;
  height: 241px;
  margin-top: 67px;
  /* border: 1px solid red; */
}
#popupItem > div:nth-child(2) {
  width: 355px;
  height: 330px;
  /* border: 1px solid red; */
}
#popupItem > div:nth-child(2) > :nth-child(1) {
  font-size: 21px;
  font-weight: 600;
  color: black;
}
#popupItem > div:nth-child(2) > :nth-child(2) {
  font-size: 21px;
  font-weight: bold;
  background-color: #fff;
  opacity: 0.4;
  color: rgb(90 86 86);
  letter-spacing: 17px;
  margin-left: 9px;
  height: 40px;
  border: none;
}
#popupItem > div:nth-child(2) > :nth-child(3) {
  font-size: 13px;
  font-weight: 500;
  background-color: rgb(214 214 214);
  opacity: 0.8;
  color: rgb(189 176 176);
  margin-left: 0px;
  width: 350px;
  height: 40px;
  margin-top: 10px;
  letter-spacing: 2px;
  border: none;
}
#popup > #closePopup {
  font-size: 60px;
  font-weight: 400;
  color: #dedede;
  transform: rotate(45deg);
  height: 20px;
  width: 30px;
  margin: 0px;
  position: fixed;
  right: 20px;
  top: 50px;
  cursor: pointer;
}
#popupItem > div:nth-child(2) > :nth-child(4) {
  font-size: 12px;
  font-weight: 600;
  color: rgb(169 156 156);
  margin-left: 109px;
  width: 350px;
  height: 6px;
  margin-top: 40px;
  letter-spacing: 1px;
  text-decoration: underline;
  cursor: pointer;
}
#popupItem > div:nth-child(2) > :nth-child(5) {
  font-size: 12px;
  font-weight: 600;
  color: black;
  margin-left: 104px;
  width: 350px;
  height: 6px;
  margin-top: 50px;
  letter-spacing: 1px;
  cursor: pointer;
}
#afterTopBox {
  /* background-image: url("https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/Hero-Banner-30042021-3-UniLogos__1619795932214.jpg"); */
  width: 85%;
  margin: 40px auto;
  min-height: 630px;
  background-size: cover;
  background-position: left;

  position: relative;
  padding: 106px 64px;
  border-radius: 24px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    #000 0,
    rgba(0, 0, 0, 0.6) 45.83%,
    rgba(0, 0, 0, 0) 82.34%
  );
  box-sizing: border-box;
}
#afterTopBox img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 630px;
  width: 1140px;
  border-radius: 24px;
}
#afterTopBox > div > :nth-child(2) {
  /* border: 1px solid white; */
  max-width: 670px;
  min-height: 125px;
}
#afterTopBox > div > :nth-child(3) {
  /* border: 1px solid white; */
  max-width: 540px;
  min-height: 73px;
}
.textAboveImg {
  position: relative;
  z-index: 2;
  color: #fff;
  line-height: 1.6em;
  letter-spacing: -1px;
}

h1 {
  font-size: 41px;

  font-weight: 700;
}
p {
  font-size: 20px;
  font-weight: 500;
}
#afterTopBoxButton {
  box-sizing: border-box;
  margin-top: 24px;
  background: #f23e36;
  box-shadow: 0 8px 40px rgb(0 0 0 / 24%);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  height: 60px;
  cursor: pointer;
  padding: 16px 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
#opacity div {
  color: #fff;
  position: absolute;
}
#opacity > :nth-child(1) {
  animation: opacity1 5s ease-in-out infinite;
}

@keyframes opacity1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media only screen and (max-width: 1130px) {
  #afterTopBox {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  #headerTopBoxNavbar {
    visibility: hidden;
  }
}
#moving {
  /* border: 1px solid red; */
  width: 100%;
  height: 250px;
  margin-top: 100px;
  box-sizing: border-box;
  overflow: hidden;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#movingHeading > h1 {
  color: rgb(34, 34, 34);
  font-size: 45px;
  font-weight: 600;
  margin-top: 20px;
  letter-spacing: -1px;
}
.movingIcons {
  width: 1500px;
  box-sizing: border-box;
  overflow: hidden;
  height: 100px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
}
.movingIcons div {
  display: flex;
  flex-direction: row;
  animation: move1 40s linear infinite;
  /* border: 1px solid red; */
}
.iconDiv {
  margin: 0px 6px;
  min-width: 120px;
  height: 96px;

  box-shadow: 0 4px 16px rgba(189, 189, 189, 0.24),
    0 4px 16px rgba(189, 189, 189, 0.24);
}
.iconImg {
  background-image: url("https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites/prod/in/home/1622185958079/sprite-in/home.png");
}
.icon1 {
  background-position: -480px -600px;
}
.icon2 {
  background-position: -120px -696px;
}
@keyframes move1 {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-1500px);
  }
}
.icon3 {
  background-position: -360px -600px;
}
.icon4 {
  background-position: -600px -600px;
}
.icon5 {
  background-position: -720px -600px;
}
.icon6 {
  background-position: 0 -600px;
}
.icon7 {
  background-position: -768px -480px;
}
.icon8 {
  background-position: -120px -600px;
}
.icon9 {
  background-position: -1045px -714px;
}
.icon10 {
  background-position: -1043px 9px;
}
.icon11 {
  background-position: 0 -696px;
}
#topBox {
  width: 100%;
  overflow: hidden;
}
#footerContainer {
  box-sizing: border-box;
  background-color: rgba(21, 28, 42, 0.87);
  height: 100%;
  overflow: hidden;
}
#footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 400px;
  padding: 60px 107px;
  background-color: rgba(21, 28, 42, -2.13);
  color: #fff;
  justify-content: space-between;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  #footer {
    padding: 60px 0px;
  }
  #footer > div:nth-child(2) {
    flex-direction: column !important;
  }
  #footerLast {
    padding: 30px 0px !important;
  }
}
#footer > div {
  height: 100%;
  /* border: 1px solid red; */
  margin: 0px 20px;
}
#footer > div:nth-child(1) {
  width: 200px;
}
#footer > div:nth-child(1) > p:nth-child(1) {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 21px;
  margin-top: 0px;
  cursor: pointer;
}
#footer > div:nth-child(1) > p:nth-child(2) {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 20px;
}
#footer .footerIcon {
  display: flex;
  justify-content: space-between;
  width: 160px;
}
#footer .footerIcon > div {
  width: 20px;
  height: 18px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  cursor: pointer;
}
#footer .footerIcon > div > img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
/* #footer > div:nth-child(2) {
  margin-left: 205px;
} */
.footerListTopic {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
#footerContainer ul {
  margin-top: 25px;
  padding: 0px;
}
.footerList {
  font-size: 9px;
  font-weight: 400;
  display: block;
  height: 15px;
  margin-bottom: 2px;
  cursor: pointer;
  color: #fff;
  opacity: 0.9;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footerList:hover {
  opacity: 1;
}
#footer > div:nth-child(2) {
  display: flex;
  flex-direction: row;
}
#footer > div:nth-child(2) > div {
  margin-bottom: 30px;
}
#footer > div:nth-child(3) {
  margin-left: 15px;
}
/* #footer > div:nth-child(3) {
  position: relative;
  right: -227px;
} */
#footer > div:nth-child(3) > div {
  display: flex;
  flex-direction: row;
  border: 1px solid #fff;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 300;
  border-radius: 2px;
  height: 33px;
  border-radius: 7px;
  margin-bottom: 15px;
  width: 180px;
  letter-spacing: -0.5px;
  color: #fff;
}
#footer > div:nth-child(3) #androidApp {
  transform: scale(0.5);
  width: 45px;
  height: 45px;
  background-position: -562px -80px;
  background-image: url(https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites/prod/global-configs/1622222636786/sprite-global-configs.png);
  margin-left: -30px;
}
#footer > div:nth-child(3) #iosApp {
  transform: scale(0.5);
  width: 35px;
  height: 40px;
  background-position: -562px -130px;
  background-image: url(https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites/prod/global-configs/1622222636786/sprite-global-configs.png);
}
#footerContainer hr {
  width: 95%;
  background: gray;
  border: none;
  height: 1px;
}
#footerLast {
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  /* width: 1140px; */
  box-sizing: border-box;
}
#footerLast > div {
  /* border: 1px solid red; */
  width: 240px;
  overflow: hidden;
  margin-left: 15px;
}
/* @media only screen and (max-width: 768px) {
  #footerLast > :nth-child(2n) {
    display: none;
  }
} */
#footerLastBottom {
  padding: 30px 60px;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  overflow: hidden;
}
#footerLastBottom > div {
  /* border: 1px solid red; */
  width: 240px;
  overflow: hidden;
  margin-left: 15px;
}
#footerContainer #last {
  width: 85%;
  background: gray;
  border: none;
  height: 0.1px;
  opacity: 0.3;
}
#lastLine {
  opacity: 1;
  margin: 21px 113px;
}
